# macOS
.DS_Store
**/.DS_Store

# Xcode user state
*.xcuserstate
*.xcbkptlist
*.xccheckout
*.xcscmblueprint
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Build products
DerivedData/
build/
/.idea/.gitignore
/.idea/DynamicNotch.iml
/.idea/easy-i18n.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/noctule.xml
/.idea/ShadcnHelperSettings.xml
/.idea/vcs.xml
