<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSContactsUsageDescription</key>
	<string>DynamicNotch needs access to your contacts to show sender names and photos in Messages notifications.</string>
	<key>NSCameraUsageDescription</key>
	<string>DynamicNotch needs access to your camera to display a camera preview in the notch.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>DynamicNotch needs access to your calendar to display upcoming events in the notch.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>DynamicNotch needs access to your calendar to display upcoming events in the notch.</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/jackson-storm/DynamicNotch/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>7di/CHe0WlewXDmFgnxUW5UqZefP/ib1m57PNBOupw4=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>600</integer>
</dict>
</plist>
